body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E6481;
    font-family: Arial, sans-serif;
}

#cal-div {
    text-align: center;
}

#Header {
    color: white;
    margin-bottom: 10px;
}

#calculator_box {
    width: 320px;
    background-color: #083949;
    border-radius: 15px;
    padding: 15px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

/* Display */
#display {
    grid-column: 1 / -1;
    background-color: #021e27;
    color: white;
    font-size: 2rem;
    padding: 15px;
    border-radius: 10px;
    text-align: right;
}

/* Buttons */
.buttons {
    height: 55px;
    font-size: 1.3rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: #eff1f1;
}

.buttons:hover {
    background-color: #cfdede;
}

/* Operators */
.operator {
    background-color: #1494b8;
    color: white;
}

.operator:hover {
    background-color: #0e6f8a;
}

/* Zero spans two columns */
.zero {
    grid-column: span 2;
}

/* Equal button */
.equal {
    background-color: #ff9f1c;
    color: white;
}

.equal:hover {
    background-color: #e58900;
}
