*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #023047;
    text-align: center;
}
.header{
    color:#8ecae6;
}
.container{
    height:70vmin;
    display:flex;
    justify-content: center;
    align-items: center;

    
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,1.5);
    font-size: 8vmin;
    color:#fb8500;
    background-color: #8ecae6;
}
#reset-button{
    padding:1rem;
    font-size: 1.15rem;
    background-color: #191913;
    color:whitesmoke;
    border-radius: 1rem;
}
#New-button{
    padding:1rem;
    font-size: 1.15rem;
    background-color: #191913;
    color:whitesmoke;
    border-radius: 1rem;
}
#message{
    color:#eaf7ee;
    font-size:8vmin;
}
.message-container{
    height:100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display:none;
}