*{
    text-align: center;
    margin:0px;
    padding:0px;
}
h1{
    background-color: #5C4F9F;
    text-align: center;
    line-height:80px;
    height: 80px;
}
.box:hover{
    opacity: 0.9;
    background-color: #100D1B;

}
.boxes{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.box{
    
    height:165px;
    width:165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}
#scores{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top:30px;
}
.msg-container{
    margin-top:5rem;
}
#msg{
    margin-top:5rem;
    background-color: #191429;
    color:antiquewhite;
    font-size: 2rem;
    display:inline;
    border-radius: 20%;
    padding:0.5rem;

    
}
